<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.omniedge.n2n">

    <application>
        <service
            android:name=".N2NService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VPN_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>