//
//  App.xcconfig
//  StubHub
//
//  Created by samuelsong(samuel.song.bc@gmail.com) on 2021/8/17.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

ENABLE_PREVIEWS = YES
