//
//  Project-Release.xcconfig
//  StubHub
//
//  Created by samuelsong(samuel.song.bc@gmail.com) on 2021/8/17.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Project.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

VALIDATE_PRODUCT = YES

ENABLE_NS_ASSERTIONS = NO

SWIFT_COMPILATION_MODE = wholemodule

SWIFT_OPTIMIZATION_LEVEL = -O

MTL_ENABLE_DEBUG_INFO = NO
